#inner{
    text-align: center;
    margin-top: 100px;
    border: 2px solid rgb(32, 101, 205);
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
   background-image: url("screenshot1.png");
   background-size: cover;
}
#outer{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.loginpara{
    margin-bottom: 4px;
    margin-top: 14px;
    font-family:fantasyl;
    color: rgb(225, 227, 160);
}
#fname{
    margin-bottom: 5px;
    width: 150px;
    border-radius: 3px;
    background-color: rgb(245, 237, 227);
}
#mname{
    margin-bottom: 5px;
    width: 150px;
    border-radius: 3px;
    background-color: rgb(245, 237, 227);
}
#lname{
    margin-bottom: 5px;
    width: 150px;
    border-radius: 3px;
    background-color: rgb(245, 237, 227);
}
.last{
    border-radius: 3px;
    width:150px;
    background-color: rgb(245, 237, 227);
}
