* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #264653;
}
.heading{
  text-align: center;
  font-size: 3rem;
  margin-top:2rem ;
  margin-bottom: -7rem;
}
.main {
  height: 40rem;
  width: 28rem;
  border: 1px solid white;
  border-radius: 1rem;
  text-align: center;
  margin: 8rem auto 3rem auto;
  display: flex;
  flex-direction: column;
  background-color: #E9C46A;
}
.weather-indicator{
  height: 3rem;
  font-size: 2.5rem;
  color: rgb(91, 87, 87);
}

.search {
  display: flex;
  justify-content: center;
  height: 9rem;
}
.search #search-bar input {
  height: 2.5rem;
  width: 20rem;
  border: 1px solid white;
  border-radius: 0.6rem;
  /* border-style: none; */
  outline: none;
  padding-left: 1rem;
  margin-top: 3rem;
  color: rgb(126, 123, 123);
  font-size: 1.2rem;
}

.search #search-icon {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
  margin: 2.9rem 0rem 0rem 0.5rem;
  font-size: 1.3rem;
}

.image {
  display: flex;
  justify-content: center;
  height: 10rem;
  margin-top: -1rem;
  margin-top: 0.2rem;
}
.image img {
  height: 10rem;
  width: 10rem;
}

.temp {
  height: 7rem;
  /* border: 1px solid red ; */
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-family: "Lucida Console";
}
.temperature {
  color: whitesmoke;
  padding-top: 1rem;
}
/* .location{
  height: 2rem;
  border: 1px solid black;
} */
.wind-speed {
  border: 1px solid red;
  height: 9rem;
  display: flex;
}
.humidity-wind-speed {
  height: 8rem;
  display: flex;
  margin-top: -1.6rem;
  border: 1px solid black;
  border-radius: 0.7rem;
  /* justify-content: space-evenly; */
}
.humidity,
.wind {
  height: 5rem;
  width: 5rem;
  /* border: 1px solid red; */
}

.humidity img,
.wind img {
  height: 5rem;
  width: 5rem;
  margin-top: 0.6rem;
  /* border: 1px solid red; */
}

.humidity::after {
  content: "Humidity";
  /* margin-left: 1rem; */
  font-size: 1.5rem;
}
.wind::after {
  content: "Wind";
  margin-left: 0.7rem;
  font-size: 1.5rem;
}
.wind {
  margin-left: 6rem;
}
.humidity {
  margin-left: 2rem;
}
.humidity-count,
.wind-count {
  font-size: 2rem;
  height: 8rem;
  max-width: 6rem;
  /* border: solid 2px pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  color: rgb(172, 19, 161);
}
.area-location{
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(91, 87, 87);
  /* border: 1px solid red; */
}