body{
    background-color:#FFF455;
  }
  .box {
    width: 200px;
    height: 200px;
    background-color:#219C90;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-top: 50px;
    border: 0px solid transparent;
    border-radius: 10px;
    position: relative;
    overflow:hidden;
    z-index: -1;
  }
  .box h1{
    color: white;
    z-index: 3;
  }
  .box::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 170%;
    background-image:conic-gradient(red,rgb(16, 224, 247),rgb(65, 65, 227),rgb(18, 255, 18),rgb(251, 8, 255),red) ;
    z-index: 1;
    /* animation:rotate 3s linear infinite; */
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .box::after{
    content: '';
    position: absolute;
    /* width: 300px;
    height: 590px;
    margin: 5px; */
    background-color:#219C90;
    z-index: 2;
    inset: 4px;
    border-radius: 10px;
  }
  
  @keyframes rotate{
    0%{
      transform:rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }