.loder {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid rgb(42, 45, 221) 6px;
    border-top: solid rgb(17, 18, 18) 6px;
     animation-name: loder;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
  }
  
  @keyframes loder {
    from {
      /* transform: rotate (0deg); */
      rotate: 0deg;
    }
    to {
      /* transform: rotate (360deg); */
      rotate:360deg;
    }
  }