.time {
    width: 600px;
    height: 200px;
    background-color:bisque;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 25px;
  }
  .watch{
    font-size: 40px;
    position: relative;
  }
  #hr{
  font-size: 50px;
  }
  #min{
  font-size: 50px;
  }
  #sec{
  font-size: 50px;
  }
  
  #hr::before{
    content: "HOURS";
    font-size: 18px;
    position: absolute;
    bottom: -25px;
    right: 50%;
    transform: translate(50%);
  }
  
  #min::before{
    content: "MINUTES";
    position: absolute;
    font-size: 18px;
    bottom: -25px;
    right: 50%;
    transform: translate(50%);
  }
  #sec::before{
    content: "SECOND";
    font-size: 18px;
    position: absolute;
    bottom: -25px;
    right: 50%;
    transform: translate(50%);
  }
  .am{
    font-size: 25px;
  }